*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-color: gainsboro;
}

#wrap {
  margin-inline: auto;
  width: min(100% - 3.2rem, 800px);
}

#headPrimary {
  padding: 20px;
  background-color: green;
  color: white;
}

#navPrimary {
  background-color: black;
  color: white;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 10px 25px;
}

#contentView {
  padding: 20px;
}