$color: slateblue; // SASS 변수

.container { // Nesting
    h1 {
        color: $color;
    }
}

.user { // self 선택자 (&)
    &-name {
        border: 1px solid red;
    }

    &-age {
        border: 1px solid blue;
    }
}

.box { // 속성 그루핑
    border: {
        top: 1px solid red;
        bottom: 1px solid blue;
    }
    font: {
        size: 24px;
        weight: 900;
    }
}

.calc-box { // 빠른 연산
    width: 50px + 40px;
    height: 60px - 15px;
    background-color: slateblue;
}

@mixin box($size: 100px, $color: burlywood) { // mix-in, 매개 변수 지정
    width: $size;
    height: calc($size / 2);
    background-color: $color;
}

.mixin-box { // mix-in을 추가하여 사용하는 방법
    @include box(150px, yellowgreen); // mix-in에 지정된 매개 변수를 수정하여 사용하는 방법
}