.container h1 {
  color: slateblue;
}

.user-name {
  border: 1px solid red;
}
.user-age {
  border: 1px solid blue;
}

.box {
  border-top: 1px solid red;
  border-bottom: 1px solid blue;
  font-size: 24px;
  font-weight: 900;
}

.calc-box {
  width: 90px;
  height: 45px;
  background-color: slateblue;
}

.mixin-box {
  width: 150px;
  height: 75px;
  background-color: yellowgreen;
}